## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/rickcruz/Documents/UT-Data-Bootcamp/API/world-weather-analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tasiilaq,GL,65.6145,-37.6368,30.36,78,98,8.88,overcast clouds
1,1,Pangai,TO,-19.8000,-174.3500,82.51,65,75,10.36,broken clouds
2,2,Dingle,PH,10.9995,122.6711,74.32,87,96,5.06,overcast clouds
3,3,Lebu,CL,-37.6167,-73.6500,61.92,77,3,13.47,clear sky
4,4,Coihaique,CL,-45.5752,-72.0662,78.66,37,7,6.76,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Get the maximum temperature.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Pangai,TO,-19.8000,-174.3500,82.51,65,75,10.36,broken clouds
2,2,Dingle,PH,10.9995,122.6711,74.32,87,96,5.06,overcast clouds
4,4,Coihaique,CL,-45.5752,-72.0662,78.66,37,7,6.76,clear sky
12,12,Piacabucu,BR,-10.4056,-36.4344,79.23,78,1,12.84,clear sky
15,15,Rikitea,PF,-23.1203,-134.9692,76.30,73,67,8.50,broken clouds
18,18,Valle Nacional,MX,17.7833,-96.3167,86.31,61,0,3.87,clear sky
23,23,Rosita,NI,13.9268,-84.4032,79.92,83,24,2.95,few clouds
30,30,Muisne,EC,0.6000,-80.0333,80.71,81,77,7.38,broken clouds
32,32,Saint-Philippe,RE,-21.3585,55.7679,76.59,80,27,9.33,scattered clouds
36,36,Jambi,ID,-1.6000,103.6167,73.54,98,100,3.27,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                255
City                   255
Country                255
Lat                    255
Lng                    255
Max Temp               255
Humidity               255
Cloudiness             255
Wind Speed             255
Current Description    255
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Pangai,TO,-19.8000,-174.3500,82.51,65,75,10.36,broken clouds
2,2,Dingle,PH,10.9995,122.6711,74.32,87,96,5.06,overcast clouds
4,4,Coihaique,CL,-45.5752,-72.0662,78.66,37,7,6.76,clear sky
12,12,Piacabucu,BR,-10.4056,-36.4344,79.23,78,1,12.84,clear sky
15,15,Rikitea,PF,-23.1203,-134.9692,76.30,73,67,8.50,broken clouds
...,...,...,...,...,...,...,...,...,...,...
658,658,Bundaberg,AU,-24.8500,152.3500,77.29,73,92,8.05,overcast clouds
663,663,Omboue,GA,-1.5746,9.2618,75.65,91,100,1.16,overcast clouds
668,668,Bima,ID,-8.4667,118.7167,77.76,89,86,2.33,overcast clouds
669,669,Silvassa,IN,20.2667,73.0167,70.47,69,0,3.62,clear sky
670,670,Soe,ID,-9.8607,124.2840,72.09,87,98,0.92,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Pangai,TO,82.51,broken clouds,-19.8000,-174.3500,
2,Dingle,PH,74.32,overcast clouds,10.9995,122.6711,
4,Coihaique,CL,78.66,clear sky,-45.5752,-72.0662,
12,Piacabucu,BR,79.23,clear sky,-10.4056,-36.4344,
15,Rikitea,PF,76.30,broken clouds,-23.1203,-134.9692,
18,Valle Nacional,MX,86.31,clear sky,17.7833,-96.3167,
23,Rosita,NI,79.92,few clouds,13.9268,-84.4032,
30,Muisne,EC,80.71,broken clouds,0.6000,-80.0333,
32,Saint-Philippe,RE,76.59,scattered clouds,-21.3585,55.7679,
36,Jambi,ID,73.54,overcast clouds,-1.6000,103.6167,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Skipping")

Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping

In [9]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Pangai,TO,82.51,broken clouds,-19.8000,-174.3500,Ha'apai Beach Resort
2,Dingle,PH,74.32,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
4,Coihaique,CL,78.66,clear sky,-45.5752,-72.0662,Diego De Almagro Coyhaique
12,Piacabucu,BR,79.23,clear sky,-10.4056,-36.4344,Piaçabuçu News
15,Rikitea,PF,76.30,broken clouds,-23.1203,-134.9692,People ThankYou

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!='']
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Pangai,TO,82.51,broken clouds,-19.8000,-174.3500,Ha'apai Beach Resort
2,Dingle,PH,74.32,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
4,Coihaique,CL,78.66,clear sky,-45.5752,-72.0662,Diego De Almagro Coyhaique
12,Piacabucu,BR,79.23,clear sky,-10.4056,-36.4344,Piaçabuçu News
15,Rikitea,PF,76.30,broken clouds,-23.1203,-134.9692,People ThankYou

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search\WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))