## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/rickcruz/Documents/UT-Data-Bootcamp/API/world-weather-analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tasiilaq,GL,65.6145,-37.6368,30.36,78,98,8.88,overcast clouds
1,1,Pangai,TO,-19.8000,-174.3500,82.51,65,75,10.36,broken clouds
2,2,Dingle,PH,10.9995,122.6711,74.32,87,96,5.06,overcast clouds
3,3,Lebu,CL,-37.6167,-73.6500,61.92,77,3,13.47,clear sky
4,4,Coihaique,CL,-45.5752,-72.0662,78.66,37,7,6.76,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Get the maximum temperature.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 0
What is the maximum temperature you would like for your trip? 110

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tasiilaq,GL,65.6145,-37.6368,30.36,78,98,8.88,overcast clouds
1,1,Pangai,TO,-19.8000,-174.3500,82.51,65,75,10.36,broken clouds
2,2,Dingle,PH,10.9995,122.6711,74.32,87,96,5.06,overcast clouds
3,3,Lebu,CL,-37.6167,-73.6500,61.92,77,3,13.47,clear sky
4,4,Coihaique,CL,-45.5752,-72.0662,78.66,37,7,6.76,clear sky
5,5,Mataura,NZ,-46.1927,168.8643,61.48,49,4,3.44,clear sky
6,6,Songjianghe,CN,42.1859,127.4790,11.37,95,41,3.06,scattered clouds
7,7,Cape Town,ZA,-33.9258,18.4232,62.10,69,2,3.00,clear sky
9,9,Osterburg,DE,52.7833,11.7667,34.50,83,100,9.51,overcast clouds
10,10,La Crau,FR,43.1498,6.0743,47.17,49,0,1.99,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                623
City                   623
Country                621
Lat                    623
Lng                    623
Max Temp               623
Humidity               623
Cloudiness             623
Wind Speed             623
Current Description    623
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tasiilaq,GL,65.6145,-37.6368,30.36,78,98,8.88,overcast clouds
1,1,Pangai,TO,-19.8000,-174.3500,82.51,65,75,10.36,broken clouds
2,2,Dingle,PH,10.9995,122.6711,74.32,87,96,5.06,overcast clouds
3,3,Lebu,CL,-37.6167,-73.6500,61.92,77,3,13.47,clear sky
4,4,Coihaique,CL,-45.5752,-72.0662,78.66,37,7,6.76,clear sky
...,...,...,...,...,...,...,...,...,...,...
667,667,Monticello,US,45.3055,-93.7941,7.95,63,20,12.66,few clouds
668,668,Bima,ID,-8.4667,118.7167,77.76,89,86,2.33,overcast clouds
669,669,Silvassa,IN,20.2667,73.0167,70.47,69,0,3.62,clear sky
670,670,Soe,ID,-9.8607,124.2840,72.09,87,98,0.92,overcast clouds
672,672,Oudtshoorn,ZA,-33.5907,22.2014,59.88,87,94,2.64,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tasiilaq,GL,30.36,overcast clouds,65.6145,-37.6368,
1,Pangai,TO,82.51,broken clouds,-19.8000,-174.3500,
2,Dingle,PH,74.32,overcast clouds,10.9995,122.6711,
3,Lebu,CL,61.92,clear sky,-37.6167,-73.6500,
4,Coihaique,CL,78.66,clear sky,-45.5752,-72.0662,
5,Mataura,NZ,61.48,clear sky,-46.1927,168.8643,
6,Songjianghe,CN,11.37,scattered clouds,42.1859,127.4790,
7,Cape Town,ZA,62.10,clear sky,-33.9258,18.4232,
9,Osterburg,DE,34.50,overcast clouds,52.7833,11.7667,
10,La Crau,FR,47.17,clear sky,43.1498,6.0743,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Skipping")

Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping
Skipping

In [9]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tasiilaq,GL,30.36,overcast clouds,65.6145,-37.6368,The Red House
1,Pangai,TO,82.51,broken clouds,-19.8000,-174.3500,Ha'apai Beach Resort
2,Dingle,PH,74.32,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
3,Lebu,CL,61.92,clear sky,-37.6167,-73.6500,Hostal Las Lilas
4,Coihaique,CL,78.66,clear sky,-45.5752,-72.0662,Diego De Almagro Coyhaique

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!='']
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tasiilaq,GL,30.36,overcast clouds,65.6145,-37.6368,The Red House
1,Pangai,TO,82.51,broken clouds,-19.8000,-174.3500,Ha'apai Beach Resort
2,Dingle,PH,74.32,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
3,Lebu,CL,61.92,clear sky,-37.6167,-73.6500,Hostal Las Lilas
4,Coihaique,CL,78.66,clear sky,-45.5752,-72.0662,Diego De Almagro Coyhaique

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))